body {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  background: #ccc;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  width: 100%;
  display: flex;
  background: #333;
  padding: 10px 0;
}
header .player {
  display: flex;
  margin-left: 20px;
}
header .player .mark {
  background: #fff;
  padding: 10px;
  text-align: center;
}
header .player .mark svg {
  display: flex;
  margin-top: 5px;
}
header .player .winners {
  background: #ccc;
  padding: 15px 20px;
  text-align: center;
  color: #333;
}
header .player input {
  background: #fff;
  padding: 10px;
  text-indent: 10px;
  border: none;
  border-right: 1px solid #333;
}
header .logo {
  color: #fff;
  font-size: 30px;
  margin: 10px 0 0 20px;
}

.table {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.table .gameAll {
  width: 100%;
  padding: 20px;
  width: 190px;
}
.table .game {
  display: flex;
  flex-flow: row wrap;
  width: 190px;
}
.table .game .box {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #333;
  color: #fff;
  width: 60px;
  height: 60px;
  border: none;
}
.table .game .box:nth-child(5) {
  border: 1px solid #fff;
}
.table .game .box:nth-child(4),
.table .game .box:nth-child(6) {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
.table .game .box:nth-child(1),
.table .game .box:nth-child(7) {
  border-right: 1px solid #fff;
}
.table .game .box:nth-child(3),
.table .game .box:nth-child(9) {
  border-left: 1px solid #fff;
}
.table .game .box:hover {
  background: #999;
}
.newGame .game{
  border: 1px solid #333;
  height: 182px;
  margin-top: 80px;
}
.newGame .game button{
  width: 100%;
}

.memoria .game, .memoria{
  width: 100% !important;
}

.memoria .cards{
  background: #999;
  border: 1px solid #333;
  margin: 20px;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.memoria .cards svg{
  width: 60px;
  height: 60px;
}